<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <title>Document</title>
</head>
<body style="background-color:#729dc5">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="card text-center">
        <div class="card-header"style="background-color:#e0e0e0">
          <h1>PROJETO UNIMAR</h1>
        </div>
        <div class="card-body">
          <h3 class="card-text">Clicando nos botões abaixo acessa a aba de produtos e serviços</h3>
          <a href="{% url 'produto'  %}" class="btn btn-secondary btn-sm shadow">Produto</a>
          <a href="{% url 'servico'  %}" class="btn btn-secondary btn-sm shadow">Serviço</a>
        </div>
        <div class="card-footer text-muted"style="background-color:#e0e0e0">
          Novembro 2022
        </div>
      </div>
 

</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
</html>